#footer
  .container
    //- ul.list-inline.pull-left
    //-   li Built with <3 @jeffscottward
    //- ul.list-inline.pull-right
    //-   li
    //-     a(href='#') Terms of Use
    //-   li
    //-     a(href='#') Privacy Policy
    //-   li
    //-     a(href='https://github.com/jeffscottward/svfmemorialcup') Source Code - GitHub
