extends layout

block content
  h1 Welcome to the <br> Sean Vincent Finnegan <br> Memorial Beer Pong Tournament
  p.lead
    | Use this app to check for standings, photos, news, and payments
  canvas#main(style="position:absolute;top:0;left:0;z-index:-1;",width="750",height="500")
