extends layout

block content
  .page-header
    h3 News Updates
  .page-body
    ul.news-items
      li.news-item
        h4.news-item-header This is a test item
        h5.news-item-subheader
        div.news-item-info
          span By&nbsp;
          span.author Tom Warren
          span &nbsp;on&nbsp;
          span.date April 3, 2014
          span.time &nbsp;01:36pm
        p.
          Ullamco exercitation minim incididunt culpa nostrud commodo laboris anim quis culpa exercitation. Laborum laboris non cillum id ex in aute exercitation officia dolor officia nostrud. Labore ad occaecat culpa dolor enim in deserunt irure. Incididunt cupidatat in ipsum reprehenderit elit ea ad magna proident minim adipisicing cupidatat enim esse. Nostrud incididunt proident reprehenderit exercitation voluptate eiusmod commodo excepteur ex tempor pariatur. Consequat amet elit mollit Lorem irure aliquip eiusmod. Amet officia amet cillum deserunt sint nostrud officia pariatur aliquip duis. Amet sunt adipisicing do labore sit aliquip voluptate sint duis nisi.
          Qui qui amet officia esse excepteur laborum aliquip nisi veniam. Magna consequat ut amet et laborum nisi sit fugiat elit magna proident enim officia. Adipisicing aliqua id amet duis occaecat consequat elit ad. Quis ad proident officia duis aute cillum ad.
        p.
          Mollit commodo cupidatat nisi velit in cillum qui. Sunt nisi cillum duis commodo eiusmod sint magna consectetur velit id consequat. Quis aute reprehenderit minim dolore velit est. Excepteur proident mollit tempor officia anim in in ut ipsum veniam eiusmod in pariatur. Qui nisi mollit sint sint nostrud cupidatat sint eiusmod dolore. Culpa adipisicing reprehenderit laborum ut do duis incididunt fugiat irure est culpa est labore. Sit mollit laboris qui adipisicing non pariatur labore Lorem irure. Id minim fugiat et adipisicing cupidatat duis occaecat laborum sint. Nulla irure esse dolore laborum et nostrud nulla minim do. Amet elit tempor eiusmod eu id amet Lorem.
