extends layout

block content
  .page-header
    h3 Photos
  .page-body
    ul.photo-list
      - for (var i = 0; i < 50; i++)
        li.photo-item
          a.photo-link(href="#")
            img(src="http://placekitten.com/200/200")
